<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h2>Index</h2>

    <!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>축제 소개 사이트</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <header>
    <h1>우리 동네 축제</h1>
    <p>다양한 축제를 한눈에!</p>
  </header>

  <!-- 주요 축제 배너 섹션 -->
  <section id="festival-banner">
    <h2>무작위 축제 배너</h2>
    <div class="banner-container" id="bannerContainer">
        <img src="media/banner/sample.jpg">
    </div>
  </section>

</body>
</html>
</body>

</html>