<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>HOME</h2>
    <ul>
        <li><a href="students/list/">Students</a></li>
        {% comment %} 
        <li><a href="students/list/?name=1">파라미터전달</a></li>
        <li><a href="students/list/1/">우아한url전달</a></li> 
        {% endcomment %}
        <hr>
        <li><a href="admin/">administer page</a></li>
    </ul>
</body>
</html>