<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h2>학생정보수정</h2>
    <form action="/students/updateOK/" method='post' name='frm'>
        {% csrf_token %}
        <input type="hidden" name="no" value='{{student.no}}'>
        <label>번호</label>
        {{student.no}}<br>
        <label>이름</label>
        <input type="text" name='name' value='{{student.name}}'><br>
        <label>학과</label>
        <input type="text" name='major' value='{{student.major}}'><br>
        <label>학년</label>
        <input type="text" name='grade' value='{{student.grade}}'><br>
        <label>나이</label>
        <input type="text" name='age' value='{{student.age}}'><br>

        <label>성별</label><br>
        <input type="radio" name='gender' value='남자' id='man' {% if '남자' in student.gender%}checked{%endif%}>
        <label for='man'>남자</label>
        <input type="radio" name='gender' value='여자' id='woman' {% if '여자' in student.gender%}checked{%endif%}>
        <label for='woman'>여자</label>
        <br>
        <label>취미</label><br>
        <input type="checkbox" name='hobby' value='game' id='game' {% if '게임' in student.game%}checked{%endif%}>
        <label for='game'>게임</label>
        <input type="checkbox" name='hobby' value='music' id='music' {% if '음악' in student.music%}checked{%endif%}>
        <label for='music'>음악</label>
        <input type="checkbox" name='hobby' value='jogging' id='jogging' {% if '조깅' in student.jogging%}checked{%endif%}>
        <label for='jogging'>조깅</label>
        <input type="checkbox" name='hobby' value='reading' id='reading' {% if '독서' in student.reading%}checked{%endif%}>
        <label for='reading'>독서</label>
        <input type="checkbox" name='hobby' value='climbing' id='climbing' {% if '등산' in student.climbing%}checked{%endif%}>
        <label for='climbing'>등산</label>

        <br>
        <br>
        <input type="submit" value="수정">
        <a href="/students/view/{{student.no}}"><button type='button'>취소</button></a> {% comment %} type 지정x -> action 주소로 이동 {% endcomment %}
    </form>
    
</body>
</html>